{% extends 'base.html' %}

{% block title %}Email Detail View{% endblock title %}

{% block MLT %}<a href="{{ url_for('email_mlt', msg_id=msg['_id']) }}" class="btn btn-success"><input type="hidden" name="search" value="{{ msg['body'] }}" />More Like This</a>{% endblock MLT %}

{% block content %}
    {% for k, v in msg.iteritems() %}
        {% if k == 'body' %}
            <div>
                <p id="mail_body">{{ v.replace('\n', '<br />')|safe }}<p>
            </div>
        {% else %}
            <dl class="dl-horizontal" style="margin-top: 1px; margin-bottom: 1px;">
                <dt style="text-align: left; font-size:85%"> {{ k }} </dt>
                <dd style="font-size:85%"> {{ v }} </dd>
            </dl>
        {% endif %}
    {% endfor %}
{% endblock content %}
