{% extends 'base.html' %}

{% block title %}Email List View{% endblock title %}

{% block content %}
    <h4>Email List View</h4>
    <p class="text-align-left">Hits: <span class="badge">{{ total }}</span></p>
        <p>{{ recipients }}</p>
    <table class="table table-condensed table-hover" style="font-size:80%">
    {% for f in flds %}
    	<th>{{ f }}</th>
    {% endfor %}	
    {% for msg in msgs %}
    	<tr>
            {% for k, v in msg.iteritems() %}
                {% if k == 'Message-ID' %}
                    <td><a href="/email/{{ msg['_id'] }}">{{ msg['Subject'] }}</td>
                {% elif k == 'Subject' %}
                    {{ pass }}
                {% elif k == '_id' %}
                    {{ pass }}
                {% else %}
                    {% if v == '' %}
                        <td>&nbsp; None</td>
                    {% else %}
                        <td>{{ v }}</td>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
{% endblock content %}
